<!DOCTYPE html>
<html>

<head>
  <title>vAuto coding extravaganza</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script src="bower_components/chance/dist/chance.min.js"></script>
  <style>
    @import "bower_components/bootstrap/dist/css/bootstrap.min.css";
  </style>
</head>

<body id="vueApp">
  <div class="container">
    <h3>vAuto coding extravaganza</h3>
    <p>
      The purpose of this page is to take words entered into the box below and print them in a sorted 4 column grid below, from
      top to bottom.
    </p>

    <p>
      <input type="text" class="form-control" v-model="userInput" @keyup.enter="makeColumns">
    </p>

    <div class="row">
      <div class="col-md-3 column" v-for="column in resultColumns">
          <div v-for="word in column">{{word}}</div>
      </div>
    </div>

  </div>

  <script>
    (function(){
      
      var vm = new Vue({
        el: "#vueApp",
        data: {
          userInput: chance.sentence().toLowerCase(),
          resultColumns: []
        },
        methods: {
          makeColumns: function() {

            this.resultColumns = [];

            var words = this.userInput.split(" ").sort();
            var columns = 4;
            var wordsPerColumn = Math.floor(words.length / columns);
            var columnsWithExtra = words.length % columns;

            var i = 0;
            while (i < columns){

              var wordsInColumn = wordsPerColumn;

              if (i < columnsWithExtra) wordsInColumn++;

              this.resultColumns.push(words.slice(0, wordsInColumn));
              words.splice(0, wordsInColumn);

              i++;
            } 
          }
        }
      })

      vm.makeColumns();

    })()
  </script>
</body>

</html>